body {
  background-color: lightgrey;
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  font-family: Saira, monospace;
  box-sizing: 100%;
  line-height: 1.2;
}

#main-back{
  width: 100%;
  max-width: 1000px;
  margin: 5px auto;
}

#contact_me{
  display: inline-block;
  max-width: 260px;  
  min-width: 150px;
  text-align: center;
  margin: 8px;
}



#navbar ul{
  display: flex;
}

#navbar-back{
  vertical-align: middle;
  font-size: 22px;
}

#main_body{
  margin-bottom: 38px; /* Helps to float the footer */
}

.selected_tab {
  background-color: #333;
  color: white;
  border-bottom: 3px double black;
  border-radius: 15px;
}

#footer{
  position: fixed;
  left: 0;
  bottom: 0;
  color: white;
  background-color: black;
  text-align: center;
  width: 100%;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
}

#footer span{
  font-size: 22px;
}

#navbar ul {
  list-style-type: none;
  margin: 2px;
  padding: 2px;
  /* overflow: hidden; */
  /* background-color: #333; */
}

#navbar-phone-holder-list ul {
  list-style-type: none;
  margin: 2px;
  padding: 2px;
  overflow: hidden;
  background-color: #333;
}

li {
  float: bottom;
  align-content: center;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
}


li a:hover {
  background-color: #333;
  color: white;
  border-radius: 15px;
  border-bottom: 3px double black;
}


#info{
  display: inline;
}

.social_media_icons{
  width: 50px;
  padding: 5px;
}

#audio_player{
  background-color: grey;
  border-radius: 100%;
  width: 38px;
  height: 38px;
  position: fixed;
  right: 0;
  bottom: 46px;
  margin: 10px;
}

#mute_button{
  width: 32px;
  height: 32px;
  padding: 2px 2px 2px 4px;
  color: white;
}

#site-logo img{
  display: block;
  margin: auto;
  width: 240px;
}

#about_me {
  width: 90%;
  max-width: 750px;
  height: 100%;
  background-color: #333;
  color: white;
  align-content: center;
  padding: 20px;
  margin: 12px auto;
}

#about_me div{
  align-content: center;
  text-align: center;
  margin-bottom: 5px;
}

#about_me p{
  color: white;
  text-align: justify;
}

#about_me br{
  margin-top: 4px;
}

#about_me div a:visited{
  color: orange
}
#about_me div a{
  color: yellow
}

#about_me_desc{
  display: inline-block; 
  width: 66%; 
  min-width: 310px; 
  margin: 10px;
  line-height: 1.4;
}

#about_me_desc div{
  display: inline-block;
}

#live_projects_list{
  display: inline-block;
  width: 60%; 
  text-align: justify; 
  min-width: 310px; 
  max-width: 450px; 
  margin: 10px;
  line-height: 1.4;
}

.live_project_title{
  font-size: 19px;
}

/* UI override for Desktop */
#navbar-phone{
  display: none;
}

#navbar li{
  width: 20%;
  box-sizing: border-box;
}

#phone-meta-info{
  display: none;
}

/* #navbar li a{
  width: 200px;
} */

/* UI specific for mobile */
#navbar-phone-menu{
  background-color: grey;
  border-radius: 10%;
  height: 38px;
  position: fixed;
  left: 0;
  top: 0;
  margin: 8px;
  padding: 2px;
  z-index: 10;
}

#navbar_phone_button{
  margin: auto;
}

#navbar-phone-holder{
  display: none;
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); 
}

#navbar-phone-holder-list{
  padding: 30px;
  max-width: 90%;
  max-height: 90%;
  overflow-y: auto;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  position: relative;
}

#navbar-phone-holder-list li{
  width: 100%;
}

#phone-page-title{
  margin: auto;
  width: fit-content;
  font-size: xx-large;
  padding: 10px;
}

/* UI override for phone */
@media (max-width: 768px)  {
  #navbar-phone{
    display: block;
  }
  #navbar{
    display: none;
  }
  #audio_player{
    bottom: 58px;
  }
  #phone-meta-info{
    display: block;
  }
  li a{
    color: white;
  }
  .selected_tab {
    background-color: black;
    border-radius: 0px;
  }
}